.content {
    grid-area: c;
    
}

.mainPic {
    width: 99%;
    height: 250px;
    margin: 20px 0 0 10px;
    border-radius: 8px;
}


.infoAndFriends{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    
}