.userpic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0 0 30px;
}

.usersWrapper{
    display: flex;
    margin: 20px;
    justify-content: space-around;
  
    
}
.usersWrapper div{
    width: 170px;
    padding: 5px 0 5px 0;
}

.userName{
    font-size: 30px;
}

.locationInfo{
    color: blue;
}

.borderWrapper{
    border: 2px solid blue;
    border-radius: 10px;
    flex: 1 2 auto;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.follow{
    width: 100px;
}

.selectedPage{
    font-weight: 700;
    font-size: 20px;
    padding: 0 5px 0 5px;
}


.usersBody{
    max-width: 935px;
    overflow: hidden;
}

.pages{
    max-width: 935px;
    overflow: auto;
   padding: 10px;
}

