.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 10px;
}

.user {
    border: 1px solid rgba(0, 0, 0, 0.178);
    text-align: center;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 8px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.button {
    width: 80%;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(2, 63, 155, 0.74);
    color: white;
    font-size: 15px;
}

.disabledButton {
    width: 80%;
    height: 35px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    filter: brightness(0.5);
}

.status {
    font-size: 20px;
    overflow: clip;
    margin: 0 10px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    overflow: clip;
}

.photo {
    padding: 10px;
    width: 150px;
    border-radius: 50%;
}

@media (max-width: 710px) {
    .user {
        width: 40%;
        height: 350px;
    }
}

@media (max-width: 550px) {
    .user {
        width: 80%;
        height: 100%;
    }
    .photo {
        padding: 10px;
        width: 60%;
        border-radius: 50%;
    }
    
}
