.container{
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 10px;
}

.user{
    border: 1px solid rgba(0, 0, 0, 0.178);
    text-align: center;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 10px;
}

@media (max-width:1155px) {
    .user{
        justify-content: space-between;
        min-width: 250px;
        min-height: 350px;
        max-width: 250px;
        
    }
    
}



@media (max-width:1090px) {
    .user{
        justify-content: space-between;
        min-width: 500px;
        min-height: 650px;
        max-width:650px;
        margin: 30px auto;
        justify-content: center;
        
    }
    
}

.photo{
    padding: 10px;
    width: 150px;
    border-radius: 50%;
}


@media (max-width:1155px) {
    .photo{
        width: 200px;
    }
    
}


@media (max-width:1090px) {
    .photo{
        padding: 10px;
        width: 400px;
    }
    
}


.button{
 width: 170px;
 height: 50px;
 margin: 10px;
 border-radius: 10px;
 background-color: rgba(2, 63, 155, 0.74);
 color: white;
 font-size: 20px;
}

.disabledButton{
    width: 170px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-color: rgba(141, 141, 141, 0.233);
}

@media (max-width:1155px) {
    .button{
        width: 220px;
        height: 60px;
        margin: 10px;
        font-size: 30px;
       }
    
}


@media (max-width:1090px) {
    .button{
        width: 420px;
        height: 90px;
        margin: 10px;
        font-size: 30px;
       }
    
}


.name{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    overflow: clip;
}

@media (max-width:1155px) {
    .name{
        font-size: 30px;
    }
    
}


@media (max-width:1090px) {
    .name{
        font-size: 40px;
    }
    
}

.status{
    font-size: 20px;
    overflow: clip;
    margin: 0 10px;
}