.nav {
  grid-area: n;
  padding: 20px;
  height: fit-content;
  border-radius: 8px;
  height: 200px;
}

.item a {
  color: #000;
  text-decoration: none;

}

.item a.activeLink {
  color: darkblue;
}

.item{
  margin: 10px 0;

}

.icon{
  width: 20px;
  height: 20px;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}