.nav {
  grid-area: n;
  background-color: #fff;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  max-height: 83vh;
}

.item a {
  color: #000;
  text-decoration: none;
}

.item a.activeLink {
  color: darkblue;
}
