.friendsItemsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}

.friendsWrapper{
    margin: 100px 0 0 0;
    
}

.friendsTitle{
    font-size: 30px;
    color:black;
}

.friendsWrapper img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}

.friendItems{
    display: flex;
    flex-direction: row;
    
}

.friendItem{
  padding: 5px;
  color: black;
    
}