
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #fff;
   
    margin: 0 20px 0 10px;
    border-radius: 8px;
    border: 1px solid rgb(196, 196, 196);
}



.fullName{
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: 300;
    
}


.userPic{
    max-height: 200px;
    max-width: 200px;
    margin-top: -100px ;
    border: 4px solid rgba(239, 239, 239);
    border-radius: 50%;

}

.ownerUserPic{
    max-width: 200px;
    max-height: 200px;
    margin-top: -100px ;
    border-radius: 50%;
    transition: filter 200ms ease-in-out;
}




.ownerUserPic:hover{
    transition-property: filter;
    border: 4px solid rgba(0, 0, 0, 0.521);
    cursor: pointer;
    filter: brightness(0.7);
}


.ownerUserPic:active{
    max-height: 195px; 
    border: 6px solid rgba(0, 0, 0, 0.459);
}
.aboutMe{
    font-style: italic;
    padding: 10px;
    width: 100%;

    
   
}
.socials{
    padding: 0 0 0 10px;
}


.contacts{
    display: flex;
    height: 40px; 
    width: 100%;
    align-items: flex-end;
    padding: 0 0 0 10px;


}


.status{
    cursor: pointer;
    width: 270px;
    overflow: hidden;
}
.location{
    width: 100%;

}
.locationIcon{
    width: 15px;
    height: 15px;
    padding: 0 0 0 10px;
}
.iconsBox{
    width: 30px;

}

.icons{
    width: 20px;
    padding: 5px;

}

.iconsHover{
    width: 25px;
    padding: 3px;
}

.nameAndStatus{ 

}

.imageBox{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 125px;
    margin: 0 0 15px 0;
}


#uploadPhoto {
    opacity: 0;
    margin: -20px 0 0 0;
    z-index: -1;
 }

 #uploadPhotoLabel{
    background-color: rgb(5, 85, 206);
    border-radius: 8px;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
 }

 label:hover{
    filter: brightness(1.2);
 }