.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgb(196, 196, 196);
    width: 50%;
    flex-grow: 1;
    margin: 0 20px 0 0;
}

.fullName {
    padding: 10px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    text-align: left;
    width: 100%;
}

.statusContainer {
    cursor: pointer;
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 10px;
    font-size: 25px;
    overflow: hidden;
}


.nameAndStatus {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 250px;
    font-size: 30px;
}

.nameAndStatus input {
    height: 100%;
    width: 100%;
    font-size: 20px;
}

/*======================================================MAIN PHOTO========================================================*/

.mainPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: filter 200ms ease-in-out;
}


.mainPhotoContainer {
    height: 200px;
    width: 200px;
    margin: -140px 0 0 20px;
    border: 4px solid rgba(239, 239, 239);
    border-radius: 50%;
}

.ownerMainPhotoContainer {
    height: 200px;
    width: 200px;
    margin: -140px 0 0 20px;
    border: 4px solid rgba(239, 239, 239);
    border-radius: 50%;
}

.ownerMainPhotoContainer:hover {
    transition-property: filter;
    border: 4px solid rgba(0, 0, 0, 0.521);
    cursor: pointer;
    filter: brightness(0.7);
}

.uploadPhotoLabelContainer {
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#uploadPhoto {
    opacity: 0;
    margin: -25px 0 0 0;
    z-index: -1;
    width: 100%;
}

#uploadPhotoLabel {
    background-color: rgb(5, 85, 206);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    max-width: 100%;
    padding: 5px;
    height: fit-content;
}

label:hover {
    filter: brightness(1.2);
}
/*======================================================MAIN PHOTO========================================================*/

/*======================================================USER INFROMATION==================================================*/
.info {
    margin: 10px;
    font-size: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aboutMe {
    padding: 10px;
    max-width: 100%;
}

.location {
    max-width: 100%;
}
.locationIcon {
    width: 20px;
    height: 20px;
    padding: 0 0 0 10px;
}

.contactsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 50px;
    margin: 0 auto;
}

.contactsContainer img {
    width: 40px;
    height: 40px;
}

.contactsContainer img:hover {
    width: 50px;
    height: 50px;
}

.iconContainer {
    width: 60px;
    margin: 0 5px;
}

.icon {
    width: 100%;
    display: flex;
    margin: auto;
}

/*======================================================USER INFROMATION==================================================*/

@media (max-width: 1170px) {
    .wrapper {
        width: 100%;
        justify-content: space-evenly;
        height: fit-content;
        margin: 0;
    }
    .fullName {
        text-align: left;
    }
    .status {
        text-align: left;
    }
    .nameAndStatus {
        width: 30%;
    }
    .info {
        width: 30%;
    }
    .contactsContainer img {
        width: 20px;
        height: 20px;
    }
    .contactsContainer img:hover {
        width: 30px;
        height: 30px;
    }
    .iconContainer {
        width: 30px;
    }
    .contactsContainer {
        width: 80%;
    }
}

@media (max-width: 890px) {
    .ownerMainPhotoContainer,
    .mainPhotoContainer {
        margin: -100px auto 40px;
    }

    .uploadPhotoLabelContainer {
        margin: 10px 0px 0px;
    }

    .nameAndStatus {
        width: 100%;
    }
    .fullName {
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .status {
        text-align: center;
    }
    .location {
        font-size: 35px;
    }
    .locationIcon {
        width: 25px;
        height: 25px;
    }
    .aboutMe {
        font-size: 30px;
    } 
    .info {
        width: 100%;
    }
    .contactsContainer img {
        width: 40px;
        height: 40px;
    }
    .contactsContainer img:hover {
        width: 45px;
        height: 45px;
    }
    .iconContainer {
        width: 50px;
    }
}

@media (max-width: 450px) {
    .ownerMainPhoto,
    .mainPhoto,
    .ownerMainPhotoContainer,
    .mainPhotoContainer {
        width: 190px;
        height: 190px;
    }

    .fullName {
        font-size: 25px;
    }
    .status {
        font-size: 20px;
    }
    .location {
        font-size: 20px;
    }
    .locationIcon {
        width: 15px;
        height: 15px;
    }
    .aboutMe {
        font-size: 20px;
    }
    .contactsContainer {
        width: 100%;
    }
    .contactsContainer img {
        width: 20px;
        height: 20px;
    }
    .contactsContainer img:hover {
        width: 25px;
        height: 25px;
    }
    .iconContainer {
        width: 40px;
    }
}
