.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
    height: 100%;
    width: 100%;
}

.preloader {
    width: 100%;
}

.itemContainer {
    width: 320px;
    min-height: 350px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
}

.itemImage {
    width: 320px;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.itemImageContainer {
    width: 320px;
    height: 200px;
}

.itemTitle {
    font-weight: 700;
    font-size: 15px;
    text-align: left;
    width: 300px;
    margin: 8px;
}

.itemDescription {
    width: 300px;
}

.itemContainer a {
    text-decoration: none;
    color: black;
    max-width: 320px;
}

.readMore {
    color: rgb(5, 85, 206);
    margin: 8px 0;
}

@media (max-width: 1200px) {
    .wrapper {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .itemImage {
        width: 320px;
        height: 100%;
    }

    .itemImageContainer {
        width: 320px;
        height: 200px;
    }

    .itemDescription {
        width: 300px;
    }
}

@media (max-width: 360px) {
    .itemContainer {
        width: 250px;
    }

    .itemImage {
        width: 250px;
        height: 150px;
    }

    .itemImageContainer {
        width: 250px;
        height: 150px;
    }

    .itemTitle {
        width: 230px;
        margin: 8px;
    }

    .itemDescription {
        width: 230px;
        font-size: 10px;
    }
}
