body{
  background-color: rgb(239, 239, 239);
}
.app-wrapper{
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  min-height: 100vh;
}

.initial-app-wrapper{ 
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-areas: 
    "h"
    "c";
    height: 100%;
}

.app-wrapper-content{
  grid-area: c;
  min-height: 92vh;
}

.app-navbar{
  position: sticky;
  top: 65px;
  height: 90vh;
}

